
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://unpkg.com/@angular/material/core/theming/prebuilt/indigo-pink.css" rel="stylesheet">
<mat-toolbar color="primary">
    <span>JobList MyHammer</span>
  </mat-toolbar>
  <div class="container">
    <ng-container *ngFor="let job of jobs">
      <mat-card class="card" (click)="openDialog(job)" >
        <mat-card-header>
              <div mat-card-avatar>
                <img mat-card-avatar class="header-image"  src={{job.thumbnail}} alt={{job.title}}>
              </div>
              <mat-card-title>{{job.title}}</mat-card-title>
              <mat-card-subtitle>{{job.city}}</mat-card-subtitle>
            </mat-card-header>
            <!-- <mat-card-subtitle>
              <mat-icon>home</mat-icon>
              {{job.description}}
              {{job.city}}
              {{job.state}}
              {{job.created_at}}
              {{job.end_date}}
              {{job.id}}
              {{job.is_awarded}}
              {{job.thumbnail}}
              {{job.zip_code}}
            </mat-card-subtitle> -->
          </mat-card>
          <br/>
        </ng-container>
      </div>





<router-outlet></router-outlet>
