<mat-toolbar color="primary">
  <h1>
    Welcome to {{ title }}!
  </h1>
</mat-toolbar>
<mat-progress-bar mode="buffer" [ngStyle]="{'display': loading ? 'block' : 'none' }" mode="indeterminate"></mat-progress-bar>
<div class="container">
  <ng-container *ngFor="let job of jobs">
    <mat-card class="card" (click)="openDialog(job)">
      <mat-card-header>
        <div mat-card-avatar>
          <img mat-card-avatar class="header-image" src={{job.thumbnail}} alt={{job.title}}>
        </div>
        <mat-card-title>{{job.title}}</mat-card-title>
        <mat-card-subtitle>{{job.city}}</mat-card-subtitle>
        <mat-card-subtitle>This job avalable for apply from {{job.created_at}} to {{job.end_date}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <br />
  </ng-container>
</div>





<router-outlet></router-outlet>